################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImgRy.pro.user.GX6704
/ImgRy.pro_._user_
/ImgRy.pro.user_.f020bc0_
/ImgRy.pro.user.VL5916
/ImgRy.pro.user.qA6704
/ImgRy.pro.user.Ou6704
/imgrymainwindow.cpp.zd6704
/imgrymainwindow.cpp.Vf6704
/imgrymainwindow.cpp.VE6704
/imgrymainwindow.cpp.Ud6704
/imgrymainwindow.cpp.Sy6704
/imgrymainwindow.cpp.qw6704
/imgrymainwindow.cpp.ns6704
/imgrymainwindow.cpp.kP6704
/imgrymainwindow.cpp.jI6704
/imgrymainwindow.cpp.jC6704
/imgrymainwindow.cpp.Cq6704
/imgrymainwindow.h.hN6704
/imgrymainwindow.h.gI6704
/imgrymainwindow.h.cl6704
/workerthread.cpp.Xn6704
/workerthread.cpp.tS6704
/workerthread.cpp.Qy6704
/workerthread.cpp.Ns6704
/workerthread.cpp.Lx6704
/workerthread.cpp.Gz6704
/workerthread.cpp.ee6704
/workerthread.h.te6704
/workerthread.h.rw6704
/workerthread.h.is6704
/workerthread.h.Ew6704
/workerthread.h.EJ6704
/workerthread.h.CE6704
/workerthread.h.aj6704
/workerthread.h
/workerthread.h.ZK6704
/workerthread.h.ya6704
/workerthread.h.VE6704
/workerthread.h.Ug6704
